@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
html {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 80%;
}

div.imgdisk img {
  width: 80%;
  height: auto;
}

h3+div {
  display:none;
}

h3.active+div {
  display:block;
}
